<!DOCTYPE html>
<!-- Coding by CodingNepal || www.codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Boxicons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <title>Dashboard</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='userDashboard.css') }}">
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar">
      <div class="logo_item">
        <i class="bx bx-menu" id="sidebarOpen"></i>
        <img src="images/logo.png" alt=""></i>DreamCollege
      </div>

      <!--<div class="search_bar">
        <input type="text" placeholder="Search" />
      </div>-->

      <div class="navbar_content">
        <i class="bi bi-grid"></i>
        <i class='bx bx-sun' id="darkLight"></i>
        <i class='bx bx-bell' ></i>
        <img src="images/profile.jpg" alt="" class="profile" />
      </div>
    </nav>

    <!-- sidebar -->
    <nav class="sidebar">
      <div class="menu_content">
        <ul class="menu_items">
          <div class="menu_title menu_dahsboard"></div>

          <!-- duplicate this li tag if you want to add or remove  navlink with submenu -->
          <li class="item">
            <div href="#" class="nav_link submenu_item">
              <span class="navlink_icon">
                <i class="bx bx-home-alt"></i>
              </span>
              <span class="navlink" ><a href="home.html">Home</a></span>
              <i class="bx bx-chevron-right arrow-left"></i>
            </div>
          </li>
          <!-- end -->

          <!-- duplicate this li tag if you want to add or remove  navlink with submenu -->
          <!-- start -->
          <li class="item">
            <div href="#" class="nav_link submenu_item">
              <span class="navlink_icon">
                <i class="fa-solid fa-magnifying-glass"></i>
              </span>
              <span class="navlink">Search </span>
              <i class="bx bx-chevron-right arrow-left"></i>
            </div>

            <ul class="menu_items submenu">
              <a href="search.html" class="nav_link sublink">after CET exam</a>
              <a href="search.html" class="nav_link sublink">after JEE</a>
            </ul>
          </li>
          <!-- end -->

          <li class="item">
            <div href="#" class="nav_link submenu_item">
              <span class="navlink_icon">
                <i class="fa-solid fa-wand-magic-sparkles"></i>
              </span>
              <span class="navlink">College Predictor</span>
              <i class="bx bx-chevron-right arrow-left"></i>
            </div>

            <ul class="menu_items submenu">
              <a href="clgPredictor.html" class="nav_link sublink">based on CET</a>
            </ul>
          </li>
          <!-- end -->

          <li class="item">
            <div href="#" class="nav_link submenu_item">
              <span class="navlink_icon">
                <i class="fa-solid fa-user"></i>
              </span>
              <span class="navlink">About</span>
              <i class="bx bx-chevron-right arrow-left"></i>
            </div>

            <ul class="menu_items submenu">
                <a href="aboutUs.html" class="nav_link sublink">Learn more about us</a>
              </ul>
          </li>
          <!-- end -->

          <li class="item">
            <div href="#" class="nav_link submenu_item">
              <span class="navlink_icon">
                <i class="fa-solid fa-phone"></i>
              </span>
              <span class="navlink">Contact</span>
              <i class="bx bx-chevron-right arrow-left"></i>
            </div>

            <ul class="menu_items submenu">
                <a href="contactUs.html" class="nav_link sublink">Connect with us</a>
              </ul>
          </li> 
        </ul>


        <!-- Sidebar Open / Close -->
        <div class="bottom_content">
          <div class="bottom collapse_sidebar">
            <span>Log Out</span>
            <i class='bx bx-log-out'></i>
          </div>
        </div>
      </div>
    </nav>

    <main class="feedA">
        <div class="cardA">
            <div class="card-titleA">
                About Us
            </div>
            <div class="card-contentA">
        <p>
          <form>
            <div class="about">
                <h2 >Empowering future with us</h2>
                <h4>At DreamCollege, we believe that every student's journey to higher education is a unique and transformative experience. Established with a vision to simplify and enhance the college selection process, we are a team of dedicated professionals committed to empowering individuals on their path to success.</h4>
                <h2>Our Mission</h2>
                <h4>Our mission is to revolutionize the way students approach higher education decisions. We aim to provide a personalized and comprehensive platform that goes beyond conventional methods, leveraging cutting-edge technology to deliver recommendations that truly resonate with each student's aspirations and potential.</h4>
                <h2>What Sets Us Apart:</h2>
                <ol>
                    <li>Personalization at the Core</li>
                    <li>Holistic Approach</li>
                    <li>Continuous Evolution</li>
                    <li>User-Friendly Interface</li>
                </ol>
                <h2>Our Commitment:</h2>
                <h4>At DreamCollege, we are committed to the success and satisfaction of every user. Whether you're a student embarking on your college journey or an educator guiding students toward their dreams, we're here to make the process smoother, more informed, and ultimately more rewarding.</h4>
            </div>

            
          </form>
        </p>
    </main>
    </main>

    <!-- JavaScript -->
    <script type="text/javascript">
        const body = document.querySelector("body");
        const darkLight = document.querySelector("#darkLight");
        const sidebar = document.querySelector(".sidebar");
        const submenuItems = document.querySelectorAll(".submenu_item");
        const sidebarOpen = document.querySelector("#sidebarOpen");

        sidebarOpen.addEventListener("click", () => sidebar.classList.toggle("close"));


        sidebar.addEventListener("mouseenter", () => {
        if (sidebar.classList.contains("hoverable")) {
        sidebar.classList.remove("close");
        }
        });
        sidebar.addEventListener("mouseleave", () => {
        if (sidebar.classList.contains("hoverable")) {
        sidebar.classList.add("close");
        }
        });

        darkLight.addEventListener("click", () => {
        body.classList.toggle("dark");
        if (body.classList.contains("dark")) {
        document.setI
        darkLight.classList.replace("bx-sun", "bx-moon");
        } else {
        darkLight.classList.replace("bx-moon", "bx-sun");
        }
        });

        submenuItems.forEach((item, index) => {
        item.addEventListener("click", () => {
        item.classList.toggle("show_submenu");
        submenuItems.forEach((item2, index2) => {
            if (index !== index2) {
            item2.classList.remove("show_submenu");
            }
        });
        });
        });

        if (window.innerWidth < 768) {
        sidebar.classList.add("close");
        } else {
        sidebar.classList.remove("close");
        }
    </script>
  </body>
</html>