<!DOCTYPE html>
<!-- Coding by CodingNepal || www.codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Boxicons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <title>User Dashboard</title>
    <script src="https://kit.fontawesome.com/3494b96017.js" crossorigin="anonymous"></script>
<!--    <link rel="stylesheet" href="userDashboard.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='userDashboard.css') }}">
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar">
      <div class="logo_item">
        <i class="bx bx-menu" id="sidebarOpen"></i>
        <img src="images/logo.png" alt=""></i>DreamCollege
      </div>

      <!--<div class="search_bar">
        <input type="text" placeholder="Search" />
      </div>-->

      <div class="navbar_content">
        <i class="bi bi-grid"></i>
        <i class='bx bx-sun' id="darkLight"></i>
        <i class='bx bx-bell' ></i>
        <img src="images/profile.jpg" alt="" class="profile" />
      </div>
    </nav>

    <!-- sidebar -->
    <nav class="sidebar">
      <div class="menu_content">
        <ul class="menu_items">
          <div class="menu_title menu_dahsboard"></div>
          <!-- duplicate or remove this li tag if you want to add or remove navlink with submenu -->
          <!-- start -->
          <li class="item">
            <div href="#" class="nav_link submenu_item">
              <span class="navlink_icon">
                <i class="bx bx-home-alt"></i>
              </span>
              <span class="navlink" ><a href="home.html">Home</a></span>
              <i class="bx bx-chevron-right arrow-left"></i>
            </div>
          </li>
          <!-- end -->

          <!-- duplicate this li tag if you want to add or remove  navlink with submenu -->
          <!-- start -->
          <li class="item">
            <div href="#" class="nav_link submenu_item">
              <span class="navlink_icon">
                <i class="fa-solid fa-magnifying-glass"></i>
              </span>
              <span class="navlink">Search </span>
              <i class="bx bx-chevron-right arrow-left"></i>
            </div>

            <ul class="menu_items submenu">
              <a href="search.html" class="nav_link sublink">after CET exam</a>
              <a href="search.html" class="nav_link sublink">after JEE</a>
            </ul>
          </li>
          <!-- end -->

          <li class="item">
            <div href="#" class="nav_link submenu_item">
              <span class="navlink_icon">
                <i class="fa-solid fa-wand-magic-sparkles"></i>
              </span>
              <span class="navlink">College Predictor</span>
              <i class="bx bx-chevron-right arrow-left"></i>
            </div>

            <ul class="menu_items submenu">
              <a href="clgPredictor.html" class="nav_link sublink">based on CET</a>
            </ul>
          </li>
          <!-- end -->

          <li class="item">
            <div href="#" class="nav_link submenu_item">
              <span class="navlink_icon">
                <i class="fa-solid fa-user"></i>
              </span>
              <span class="navlink">About</span>
              <i class="bx bx-chevron-right arrow-left"></i>
            </div>

            <ul class="menu_items submenu">
                <a href="aboutUs.html" class="nav_link sublink">Learn more about us</a>
              </ul>
          </li>
          <!-- end -->

          <li class="item">
            <div href="#" class="nav_link submenu_item">
              <span class="navlink_icon">
                <i class="fa-solid fa-phone"></i>
              </span>
              <span class="navlink">Contact</span>
              <i class="bx bx-chevron-right arrow-left"></i>
            </div>

            <ul class="menu_items submenu">
                <a href="contactUs.html" class="nav_link sublink">Connect with us</a>
              </ul>
          </li>
          <!-- end -->
        </ul>


        <!-- Sidebar Open / Close -->
        <div class="bottom_content">
          <div class="bottom collapse_sidebar">
            <span>Log Out</span>
            <i class='bx bx-log-out'></i>
          </div>
        </div>
      </div>
    </nav>

    <main class="feedH">
      <p>
      <div class="cardH">
          <div class="card-contentH">
          <center>
          <div class="clgR">
              <h1><b>College Recommendation System</b></h1>
              <h4><i>Welcome to DreamCollege, where the future begins with personalized recommendations.</i></h4>
              <h4>Embark on a journey of informed decision-making and personalized success with DreamCollege. We invite you to explore the possibilities, discover your potential, and shape your educational future with confidence.</h4>
          </div>
          </center>
          
      </p>
  </main>

   

    <!-- JavaScript -->
    <script type="text/javascript">
        const body = document.querySelector("body");
        const darkLight = document.querySelector("#darkLight");
        const sidebar = document.querySelector(".sidebar");
        const submenuItems = document.querySelectorAll(".submenu_item");
        const sidebarOpen = document.querySelector("#sidebarOpen");

        sidebarOpen.addEventListener("click", () => sidebar.classList.toggle("close"));


        sidebar.addEventListener("mouseenter", () => {
        if (sidebar.classList.contains("hoverable")) {
        sidebar.classList.remove("close");
        }
        });
        sidebar.addEventListener("mouseleave", () => {
        if (sidebar.classList.contains("hoverable")) {
        sidebar.classList.add("close");
        }
        });

        darkLight.addEventListener("click", () => {
        body.classList.toggle("dark");
        if (body.classList.contains("dark")) {
        document.setI
        darkLight.classList.replace("bx-sun", "bx-moon");
        } else {
        darkLight.classList.replace("bx-moon", "bx-sun");
        }
        });

        submenuItems.forEach((item, index) => {
        item.addEventListener("click", () => {
        item.classList.toggle("show_submenu");
        submenuItems.forEach((item2, index2) => {
            if (index !== index2) {
            item2.classList.remove("show_submenu");
            }
        });
        });
        });

        if (window.innerWidth < 768) {
        sidebar.classList.add("close");
        } else {
        sidebar.classList.remove("close");
        }
    </script>
  </body>
</html>